<div class="menu-widget-dropdown">
	<div class="menu-widget">
		<Icon Name="IconName.Basket" Size="IconSize.x2" />
	</div>

	<div class="menu-widget-dropdown-content">
		<button class="widget-button" type="button" onclick="@ViewBasket">View basket</button>
	</div>
</div>