<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">RicardoShoppers.Web</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Shop
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="basket">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Basket
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
    </nav>
</div>
@code {
    /*
        public Ricardo.Models.Basket? _Basket;
    private async Task ViewBasketAsync()
    {
        await GetBasketFromLocalStorage("Basket");

        if (_Basket == null)
        {
            _Basket = new Ricardo.Models.Basket();
            await SaveBasketToLocalStorage(_Basket, "Basket");
        }
    }

    private async Task GetBasketFromLocalStorage(string key)
    {
        var result = await ProtectedLocalStore.GetAsync<Ricardo.Models.Basket>(key);
        if (result.Success)
        {
            _Basket = result.Value;
        }
        else
        {
            _Basket = new Ricardo.Models.Basket();
            await SaveBasketToLocalStorage(_Basket, "Basket");
        }
    }
    private async Task SaveBasketToLocalStorage(Ricardo.Models.Basket basket, string key)
    {
        await ProtectedLocalStore.SetAsync(key, basket);
    }
    */
}