@page "/"
@using Ricardo.Technical.Test.Pages.Components
<PageTitle>Home</PageTitle>

<h1>Pen n' Paper</h1>

<div class="main-content">
	<p>
		Welcome adventurer, to Pen n' Paper.com! The website for all your gaming needs, as long as they're the one set of dice we sell and a couple of other less useful things. 
		To get started, Go to browse and start shopping!
	</p>
</div>
<div class="main-image">
	<img class="" src="images/Role_playing_gamers.jpg" alt="Generic image" />
</div>
@code{
	[Inject] public Blazored.LocalStorage.ILocalStorageService ProtectedLocalStore { get; set; } = null!;
	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		await base.OnAfterRenderAsync(firstRender);
	}
}